{% extends "base.html" %}

{% block css %}

{{ block.super }}


<style type="text/css">
   html { height: 100% }
   body { height: 100%; margin: 0; padding: 0 }
   #map_canvas { height: 50%; width:50%;float:left !important;  }
 </style>

{% endblock css %}
{% block top_script %}
{{ block.super }}
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1CpD5ViAJZ33wh2Iobkx_Qnx4FmnwlyA&sensor=false">
</script>
<script type="text/javascript">
var map;
var stopLatLng = new google.maps.LatLng({{ stop.geo }})
 function initialize() {
   var mapOptions = {
     zoom: 12,
     center: stopLatLng,
     mapTypeId: google.maps.MapTypeId.ROADMAP
   };
   map = new google.maps.Map(document.getElementById('map_canvas'),
       mapOptions);


	 var marker = new google.maps.Marker({
	     position: stopLatLng,
	     map: map,
	     title:"{{ truck.name }} is currently here!"
	 });

 }

 google.maps.event.addDomListener(window, 'load', initialize);


</script>

{% endblock top_script %}

{% block content %}

<div style="float:left; width:100%;clear:both;">
{{ truck.name }}<br /><br />
{{ truck.description }}<br /><br />
<a href="http://twitter.com/{{ truck.twitter }}">@{{ truck.twitter }}</a>

<h3>Next Stop</h3>

{% if stop %}
	{{ stop }}<br />
	{{ stop.address }}<br />
	{{ stop.city }}, {{ stop.state }} {{ stop.zip }}
	</div>
	<div id ="map_canvas">
	
	</div><!-- end #map-canvas -->
	
{% else %}

	<p>No stops planned yet!</p>
	
{% endif %}



{% endblock content %}    
