{% extends "base.html" %}

{% block title_start %}{{ truck.name }} on {% endblock %}

{% block css %}

{{ block.super }}


<style type="text/css">
   body { height: 100%; margin: 0; padding: 0 }
   #map_canvas { height: 250px; width:100%;float:left !important;  }
 </style>

{% endblock css %}
{% block end_scripts %}

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1CpD5ViAJZ33wh2Iobkx_Qnx4FmnwlyA&sensor=false">
</script>
 <script>
// Set the Map variable
var map;
var stylesArray = jTrucksConf.theme.mapStyle;

function initialize() {	
	var myOptions = {
		zoom: 9,
		mapTypeId: google.maps.MapTypeId.ROADMAP,
		styles: stylesArray,
		scrollwheel: false,
	};
	

	var all = [
	{% if stop %}
			["{{ truck.name }}", "{{ stop.address }}", "{{ stop.city }}", "{{ stop.state }}", "{{ stop.zip }}", {{ stop.geo }}]{% if not forloop.last %}, {% endif %} 
	{% else %}
		["Trucks are sleeping!", "203 Beale Street", "Memphis", "TN", "38103", 35.139456, -90.051643]
		
	{% endif %} 
	];
		
	var infoWindow = new google.maps.InfoWindow;
	
	map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);
	
	// Set the center of the map
	var bounds = new google.maps.LatLngBounds();
	
	function infoCallback(infowindow, marker) {
		return function() {
			infowindow.open(map, marker);
		};
	}	
	
	function setMarkers(map, all) {	
		for (var i in all) {	
			var name = all[i][0];
			var address = all[i][1];
			var city = all[i][2];
			var state = all[i][3];
			var zip = all[i][4];
			var lat = all[i][5];
			var lng = all[i][6];
			var latlngset;
			
			latlngset = new google.maps.LatLng(lat, lng);
			bounds.extend(latlngset);
			map.fitBounds(bounds);
			var marker = new google.maps.Marker({
				map: map, title: city, position: latlngset
			});
			
			var content = '<div class="map-content"><h3>' + name + '</h3>' + address + '<br />' + city + ', ' + state + ' ' + zip + '<br /><a href="http://maps.google.com/?daddr=' + address + ' ' + city + ', ' + state + ' ' + zip + '" target="_blank">Get Directions</a></div>';	
			
			var infowindow = new google.maps.InfoWindow();
			
			infowindow.setContent(content);
			
			google.maps.event.addListener(marker, 'click', infoCallback(infowindow, marker));
		}
	}	
	// Set all markers in the all variable
	setMarkers(map, all);
	
	// Don't zoom in too far on only one marker
	    if (bounds.getNorthEast().equals(bounds.getSouthWest())) {
	       var extendPoint1 = new google.maps.LatLng(bounds.getNorthEast().lat() + 0.01, bounds.getNorthEast().lng() + 0.01);
	       var extendPoint2 = new google.maps.LatLng(bounds.getNorthEast().lat() - 0.01, bounds.getNorthEast().lng() - 0.01);
	       bounds.extend(extendPoint1);
	       bounds.extend(extendPoint2);
	    }
};


// Initializes the Google Map
google.maps.event.addDomListener(window, 'load', initialize);
</script>


{% endblock %}

{% block content %}

<h1>{{ truck.name }}</h1>
<p>{{ truck.description|safe }}</p>
<p>On Twitter: <a href="http://twitter.com/{{ truck.twitter }}">@{{ truck.twitter }}</a></p>

<h3>Most Recent Stop for {{ truck.name }}</h3>

{% if stop %}
	<p>{{ stop.arrival|date:"l F d" }} from {{ stop.arrival|date:"P" }} until {{ stop.departure|date:"P" }}</p>
	<p>{{ stop.address }}<br />
	{{ stop.city }}, {{ stop.state }} {{ stop.zip }}</p>

	<div id ="map_canvas">
	
	</div><!-- end #map-canvas -->
	
{% else %}

	<p>No stops planned yet!</p>
	
{% endif %}



{% endblock content %}    
