<!DOCTYPE html>
<html>
	<head>
		<title>{% block title_start %}{% endblock title_start %} Four Wheel Food -- Memphis' Food Truck Tracker</title>
		
		<script type="text/javascript">
					var jTrucksConf = {};
					jTrucksConf.theme = {

							mapStyle: [ { "stylers": [ { "gamma": 0.8 }, { "saturation": 30 }, { "lightness": -10 } ] } ],


					};
				</script>
		
	
		{% block top_script %}
		
		{% endblock top_script %}
		
		{% block css %}
		{% load staticfiles %}
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">	
		<link rel="stylesheet" href="{% static "css/styles.css" %}" type="text/css" media="screen" title="no title" charset="utf-8">		
		
		{% endblock css %}

		

	</head>
	
	<body>
	<div class ="row" id="navigation">
		<div class ="container">
			<div class ="span4" id="logo_wrapper">
				<a href="/" title="Memphis Four Wheel Food" id="logo"></a>
			</div><!-- end .span5 -->
			<div class="span4" id="main_location">
				<h3>Memphis</h3>
			</div><!-- end .span5 -->
			<div class ="span4">
		 		<ul id="nav">
					<li><a href="/trucks/" title="Listing of all food trucks">Food Trucks</a></li>
					<li><a href="/contact/" title="Contact Memphis Four Wheel Food">Contact</a></li>
					
					
				</ul>
			</div><!-- end .span7 -->
		</div><!-- end .container -->
	</div><!-- end .row -->
{% comment %}
	    <div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="brand" href="/" title="Memphis Four Wheel Food">Memphis Four Wheel Food</a>
	          <div class="nav-collapse collapse">
	            <ul class="nav">
	              <li><a href="/trucks/" title="Listing of all food trucks">Food Trucks</a></li>
	              <li><a href="/contact/" title="Contact Memphis Four Wheel Food">Contact</a></li>
	            </ul>
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	    </div>
		
		<div class ="row" id="navSpacer">
			
		</div><!-- end .row -->
{% endcomment %}	
	<div class ="row">
		<div class ="container">
			{% block content %}{% endblock content %}
		</div>
	</div>
	{% block home_content %}{% endblock home_content %}
	
	
	
	
	<div class ="row" id="footer">
		<div class ="container">
			
			<div class ="span8">
				<p>Definitely a work in progress. I appreciate <a href="/contact/">all feedback</a>.</p>
			</div><!-- end .span7 -->
			<div class ="span3">
				&copy; 2013 <a href="http://bryanlrobinson.com">bryanlrobinson.com</a>
			</div><!-- end .span5 -->
		</div><!-- end .container -->
		
	</div><!-- end .row -->
	
	
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
	
	<script type="text/javascript" src="file:///Users/bryanrobinson/Documents/personal/trucks/static/js/jTrucks.js"></script>
	
	
	
	<script type="text/javascript" charset="utf-8">
		var jTrucks = {

			maps: {
				initializeMaps: function(markers, styles) {
					var markers = markers;
					var stylesArray = styles;
				    var myOptions = {
						mapTypeId: google.maps.MapTypeId.ROADMAP,
						styles: stylesArray,
						zoomControl: true,
						zoomControlOptions: {
						  style: google.maps.ZoomControlStyle.SMALL
						},
						
						scrollwheel: false,
				    };

					map = new google.maps.Map(document.getElementById("map_canvas"),myOptions);
				   var infowindow = new google.maps.InfoWindow();
				    var marker, i;
				    var bounds = new google.maps.LatLngBounds();
				    for (i = 0; i < markers.length; i++) {
				        var pos = new google.maps.LatLng(markers[i][1], markers[i][2]);
				        bounds.extend(pos);
				        marker = new google.maps.Marker({
				            position: pos,
				            map: map
				        });

				   	};
					//IF THERE'S ONLY ONE POINT, ZOOM OUT
					if (bounds.getNorthEast().equals(bounds.getSouthWest())) {
						var extendPoint1 = new google.maps.LatLng(bounds.getNorthEast().lat() + 0.01, bounds.getNorthEast().lng() + 0.01);
						var extendPoint2 = new google.maps.LatLng(bounds.getNorthEast().lat() - 0.01, bounds.getNorthEast().lng() - 0.01);
						bounds.extend(extendPoint1);
						bounds.extend(extendPoint2);
					}

					(marker, i);
				    map.fitBounds(bounds);
				}		

			},



			init: function() {
				var self = this;
			}
		}

		jTrucks.init();
	</script>
	
	
	
	
	
	
	
	
	
	{% block end_scripts %}{% endblock end_scripts %}
	
	
	
	
	
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-39870579-1', 'fourwheelfood.com');
	  ga('send', 'pageview');

	</script>
	
	
	
	
	
	
	</body>
</html>