{% extends "base.html" %}

{% block css %}

{{ block.super }}


<style type="text/css">
   html { height: 100% }
   body { height: 100%; margin: 0; padding: 0 }
   #map_canvas { height: 250px; width:100%;}
#map_row {padding-left:30px;}
 </style>

{% endblock css %}

{% block end_scripts %}

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1CpD5ViAJZ33wh2Iobkx_Qnx4FmnwlyA&sensor=false">
</script>
<script type="text/javascript">
var stylesArray = jTrucksConf.theme.mapStyle;

var markers = [
{% if stops %}
{% for stop in stops %}
    ['{{ stop.truck.name }}', {{ stop.geo }}]{% if not forloop.last %},{% endif %}
{% endfor %}
{% else %}
	['Shhhh the food trucks are sleeping!', 35.143524,-90.053973]
{% endif %}
];
jTrucks.maps.initializeMaps(markers, stylesArray);

</script>



{% endblock end_scripts %}

{% block home_content %}


<div class ="row">

<div class="container" id="hero">

		<h1>Find food trucks when you're hungry</h1>
		<p>All the Memphis food trucks in one convenient place so that you can find the best street food available!</p>

</div> <!-- /container -->
</div><!-- end .row -->


{% comment %}
<div class ="container">
	
<h1>Hello World</h1>

<ul>
	{% for truck in trucks %}

	<li><a href="{{ truck.get_absolute_url }}">{{ truck.name }}</a> - {{ truck.description }}</li>

	{% endfor %}
</ul>
</div><!-- end .container -->
{% endcomment %}
<div class ="row" id="map_row">

	

		<div id ="map_canvas">
	
		</div><!-- end #map-canvas -->


</div><!-- end .row-fluid row -->

<div class ="row">
	<div class ="container">
		
		<div class ="span4">
			<h3>Food trucks</h3>
			
			<ul>
				{% for truck in trucks %}

				<li><a href="{{ truck.get_absolute_url }}">{{ truck.name }}</a> - {{ truck.description }}</li>

				{% endfor %}
			</ul>
		</div><!-- end .span4 -->
		
		<div class ="span4">
			<h3>Currently out</h3>
			{% if stops %}
			<ul>
				{% for stop in stops %}
					<li><a href="{{ stop.truck.get_absolute_url }}" title="{{ stop.truck }} is out and about">{{ stop.truck }}</a></li>
					
				{% endfor %}
			</ul>
			{% else %}
			<p>Shhhhh the trucks are sleeping</p>
			{% endif %}
		</div><!-- end .span4 -->
		
		<div class ="span3">
			<h3>About</h3>
		</div><!-- end .span4 -->
	</div><!-- end .container -->
</div><!-- end .row -->

{% endblock home_content %}