{% extends "base.html" %}

{% block css %}

{{ block.super }}


<style type="text/css">
   html { height: 100% }
   body { height: 100%; margin: 0; padding: 0 }
   #map_canvas { height: 300px; width:100%;}
#map_row {padding-left:30px;}
.map-content {width:400px;}

 </style>

{% endblock css %}

{% block end_scripts %}

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1CpD5ViAJZ33wh2Iobkx_Qnx4FmnwlyA&sensor=false">
</script>
 <script>
// Set the Map variable
var map;
var stylesArray = jTrucksConf.theme.mapStyle;

function initialize() {	
	var myOptions = {
		zoom: 9,
		mapTypeId: google.maps.MapTypeId.ROADMAP,
		styles: stylesArray,
		scrollwheel: false,
	};
	
	var all = [
	{% if stops %}
		{% for stop in stops %}
			["{{ stop.truck.name }}", "{{ stop.address }}", "{{ stop.city }}", "{{ stop.state }}", "{{ stop.zip }}", {{ stop.geo }}]{% if not forloop.last %}, {% endif %} 
		{% endfor %}
	{% else %}
		["Trucks are sleeping!", "203 Beale Street", "Memphis", "TN", "38103", 35.139456, -90.051643]
		
	{% endif %} 
	];
		
	var infoWindow = new google.maps.InfoWindow;
	
	map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);
	
	// Set the center of the map
	var bounds = new google.maps.LatLngBounds();
	
	function infoCallback(infowindow, marker) {
		return function() {
			infowindow.open(map, marker);
		};
	}	
	
	function setMarkers(map, all) {	
		for (var i in all) {	
			var name = all[i][0];
			var address = all[i][1];
			var city = all[i][2];
			var state = all[i][3];
			var zip = all[i][4];
			var lat = all[i][5];
			var lng = all[i][6];
			var latlngset;
			
			latlngset = new google.maps.LatLng(lat, lng);
			bounds.extend(latlngset);
			map.fitBounds(bounds);
			var marker = new google.maps.Marker({
				map: map, title: city, position: latlngset
			});
			
			var content = '<div class="map-content"><h3>' + name + '</h3>' + address + '<br />' + city + ', ' + state + ' ' + zip + '<br /><a href="http://maps.google.com/?daddr=' + address + ' ' + city + ', ' + state + ' ' + zip + '" target="_blank">Get Directions</a></div>';	
			
			var infowindow = new google.maps.InfoWindow();
			
			infowindow.setContent(content);
			
			google.maps.event.addListener(marker, 'click', infoCallback(infowindow, marker));
		}
	}	
	// Set all markers in the all variable
	setMarkers(map, all);
	
	// Don't zoom in too far on only one marker
	    if (bounds.getNorthEast().equals(bounds.getSouthWest())) {
	       var extendPoint1 = new google.maps.LatLng(bounds.getNorthEast().lat() + 0.01, bounds.getNorthEast().lng() + 0.01);
	       var extendPoint2 = new google.maps.LatLng(bounds.getNorthEast().lat() - 0.01, bounds.getNorthEast().lng() - 0.01);
	       bounds.extend(extendPoint1);
	       bounds.extend(extendPoint2);
	    }
};


// Initializes the Google Map
google.maps.event.addDomListener(window, 'load', initialize);
</script>


{% endblock end_scripts %}

{% block home_content %}



{% comment %}
<div class ="container">
	
<h1>Hello World</h1>

<ul>
	{% for truck in trucks %}

	<li><a href="{{ truck.get_absolute_url }}">{{ truck.name }}</a> - {{ truck.description }}</li>

	{% endfor %}
</ul>
</div><!-- end .container -->
{% endcomment %}
<div class ="row" id="map_row">

	

		<div id ="map_canvas">
	
		</div><!-- end #map-canvas -->


</div><!-- end .row-fluid row -->

<div class ="row">
	<div class ="container">
	{% comment %}
		<div class ="span4">
			<h3>Food trucks</h3>
			
			<ul>
				{% for truck in trucks %}

				<li><a href="{{ truck.get_absolute_url }}">{{ truck.name }}</a> - {{ truck.description|safe }}</li>

				{% endfor %}
			</ul>
		</div><!-- end .span4 -->
		
		<div class ="span4">
			<h3>Currently out</h3>
			{% if stops %}
			<ul>
				{% for stop in stops %}
					<li><a href="{{ stop.truck.get_absolute_url }}" title="{{ stop.truck }} is out and about">{{ stop.truck }}</a></li>
					
				{% endfor %}
			</ul>
			{% else %}
			<p>Shhhhh the trucks are sleeping</p>
			{% endif %}
		</div><!-- end .span4 -->
		
		<div class ="span3">
			<h3>About</h3>
		</div><!-- end .span4 -->
		
	{% endcomment %}
	
	<div class ="span8">
		
	</div><!-- end .span8 -->
	<h1>Find food trucks when you're hungry</h1>
	<p>All the Memphis food trucks in one convenient place so that you can find the best street food available!</p>
	
	<div class ="span3">
		
	</div><!-- end .span3 -->
	
	</div><!-- end .container -->
</div><!-- end .row -->

{% endblock home_content %}